@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

@layer utilities {
  .btn_blue {
    @apply bg-blue-900 px-8 py-4 text-white transition-all hover:bg-black;
  }
}
